/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 50%;
}

#map-button {
	margin: 20px;
}